body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b1cf2a;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slide-container {
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: #742d2d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s, transform 0.3s;
  }
  