body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 500px;
    height: 450px;
    border: 1px solid #ccc;
    background-color: blueviolet;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out; /* Slide-in animation */
  }
  
  /* Initial position - off-screen to the right */
  .card1 {
    transform: translateY(200px);
  }
  
  /* Initial position - off-screen to the right */
  .card2 {
    transform: translateY(200px);
  }
  
  /* Initial position - off-screen to the right */
  .card3 {
    transform: translateY(200px);
  }
  